@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #0B192C;
}

.myFont {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: normal;
}

.pikachu {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}

.font-3 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  
  